<?xml version="1.0" encoding="UTF-8"?>
<configuration>


	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> ▶ %-5level [%d{HH:mm:ss.SSS}] [%thread] %logger[%method:%line] - %msg%n </pattern>
		</encoder>
	</appender>


	<logger name="org.springframework" level="error" />
	
	
	<logger name="org.hibernate" level="error" />
	<logger name="org.mybatis" level="error" />
	<logger name="org.jboss" level="error" />
	<logger name="org.thymeleaf" level="error" additivity="false" />
	<logger name="javax.activation" level="info" additivity="false" />
	<logger name="sun" level="error" />
	
	<logger name="log4jdbc.log4j2" level="WARN" /> 
	<logger name="org.socialsignin" level="DEBUG" />
	<logger name="com.zaxxer" level="DEBUG" />

	<logger name="oss.pilot" level="DEBUG" />
	
	<logger name=" io.lettuce" level="DEBUG" />
	<logger name=" io.netty" level="DEBUG" />
	
	
	<logger name="io.jsonwebtoken" level="DEBUG" />
	
	
	<logger name="org.apache.coyote.http11" level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>